# Packages
node_modules
packages

# Build
artifacts
bin
obj
wwwroot/*.css
wwwroot/*.gz

# User-specific files
*.suo
*.user
*.ide
*.publishsettings
*.lock
*.lock.json
*.log
*.rej
*.imdone
npm-debug.log
npm-debug.log.*
package-lock.json

# OS X temporary files
.DS_Store
._*

# IDE
.vs