@import '../variables.less';
@import '../mixins.less';

ul.projects {
	@s: @spacing-lg;

	display: flex;
	flex-flow: row wrap;
	margin: 0 -(@s/2) -@s;
	.list-flat();

	> li {
		display: block;
		width: 50%;
		padding: 0 @s/2;
		margin-bottom: @s;
		text-align: center;

		@media @media-phone-landscape {
			width: 33.33%;
		}

		@media @media-tablet {
			width: 25%;
		}
	}

	a {
		display: block;

		.img {
			position: relative;
			border: @spacing-xs solid @color-border;
			transition: border-color @transition-duration @transition-function;

			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}

			> div {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}

		span {
			display: inline-block;
			margin: @spacing-xs 0;
		}

		&:hover .img {
			border-color: @color-active;
		}
	}
}

.projects-item {
	margin-bottom: @line-margin;

	ul.images {
		&:extend(ul.projects all);
	}
}