@import '../variables.less';

.publications {
	display: flex;
	margin-bottom: @spacing-lg;

	.date {
		width: 140px;
		color: @color-gray;
		text-transform: capitalize;
	}

	a {
		font-weight: @font-weight-bold;
	}
}