@page
@{
	ViewBag.Title = "Контакты";
}
<h3 class="notop">Директор</h3>
<ul class="flat">
	<li>Фомина Елена Валентиновна</li>
	<li>Телефон: <a href="tel:+79129237037">8 (912) 923-70-37</a></li>
	<li>E-mail: <a href="mailto:ef@style-el.ru">ef@style-el.ru</a></li>
</ul>