@import 'variables.less';

html {
	height: 100%;
	min-height: 100%;
}

body {
	height: 100%;
	background: @body-bg;
	display: flex;
	flex-flow: column;

	> header,
	> footer {
		flex-shrink: 0;
	}

	> content {
		flex: 1 0 auto;
		margin-bottom: @padding-default;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: @padding-default-phone;
	padding-right: @padding-default-phone;
	width: 100%;
	max-width: 1000px;

	@media @media-tablet {
		padding-left: @padding-default;
		padding-right: @padding-default;
	}
}

body > header {
	text-align: center;

	.logo {
		display: inline-block;
		margin-top: @spacing-sm;
	}

	.phone {
		display: none;
	}

	@media @media-tablet {
		text-align: initial;
		background: url(/images/header-fill-left.png) repeat-x top;

		&:before {
			content: '';
			display: block;
			height: 4px;
			margin-left: 50%;
			background: url(/images/header-fill-right.png) repeat-x top;
		}

		.bg {
			margin-top: -4px;
			background: url(/images/header.png) no-repeat;
			background-position: center top;
			height: 189px;
		}

		.logo {
			float: left;
			margin: 18px 0 0 0px;
			width: 205px;
			height: 142px;
		}

		.phone {
			display: block;
			float: right;
			margin: 85px 25px 0 0;
			font-size: 1.5em;
			line-height: 1.5em;
			font-family: "Myriad Pro", Calibri, Arial;
			display: block;
			overflow: auto;

			a {
				font-weight: bold;
				font-size: 30px;
				text-decoration: none;
			}
		}
	}
}

body > footer {
	font-size: @font-size-sm;
	background: url(/images/footer-fill.png) repeat-x bottom;

	.bg {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		background: url(/images/footer.png) no-repeat center bottom;
		height: 137px;
		padding-bottom: 70px;
	}

	.line2 {
		display: block;
		text-transform: capitalize;

		@media @media-tablet {
			display: inline;
			text-transform: initial;

			&:before {
				display: inline;
				content: ' — ';
			}
		}
	}
}

nav {
	@home-size: 47px;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: @spacing-lg 0 @spacing-md;
	padding-left: @home-size + @spacing-sm;

	@media @media-tablet {
		margin-bottom: @spacing-xl;
	}

	a {
		display: inline-block;
		margin-right: @spacing-sm;
		min-height: 40px;
		line-height: 40px;
		vertical-align: middle;
		font-size: @font-size-nav;
		text-transform: uppercase;

		&.active {
			text-decoration: none;
		}

		@media @media-tablet {
			padding-left: 25px;
			background: url(/images/menu-bg.png) no-repeat top left;

			&:hover,
			&.active {
				background-image: url(/images/menu-bg-active.png);
			}
		}
	}

	a.home {
		width: @home-size;
		height: @home-size;
		margin-left: -(@home-size + @spacing-sm);
		padding: 0px;
		background: url(/images/home.png) no-repeat center center;
		text-decoration: none;
		text-indent: -999999px;
		overflow: hidden;

		&:hover,
		&.active {
			background-image: url(/images/home-active.png);
		}
	}

	& + h1 {
		margin-top: 0;
	}
}